[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
pytest = "*"
marshmallow = "*"
flask-cors = "*"
pymongo = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
